<div class="footer-content">
    <div class="logo-area">
        <img class="logo" src="./../../../assets/img/PNG/logos/newLogo.png" alt="me-logo">
        <p>Web Developer</p>
        <p>Hamburg Germany</p>
    </div>
    <div class="footer-center">&#xA9; Nicolaus Feldtann 2025</div>
    <div class="footer-links">
        <a class="footer-link" href="#">Github</a>
        <a class="footer-link" href="#">LinkedIn</a>
        <a class="footer-link" href="#">Email</a>
        <a class="footer-link" href="#">Legal Notice</a>
    </div>
</div>
