<div class="footer-content">
    <div class="footer-logos">
        <a class="logo-area" href="#landing">
            <img class="logo" src="./assets/img/PNG/logos/newLogo.png" alt="me-logo">
            <p>Web Developer</p>
            <p>Hamburg Germany</p>
        </a>
        <div class="footer-center">&#xA9; Nicolaus Feldtann 2025</div>
        <div class="footer-links">
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cut>Dot">
                <a class="git-link" href="https://github.com/NicolausFeldtmann">Github</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <a class="linked-link" href="https://linkedin.com/in/nicolaus-feldtmann-861371376">LinkedIn</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <a class="email-link" href="#">Email</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <a class="legal-link" href="legal">{{ translate('legal') }}</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <a class="legal-link" href="impressum">Impressum</a>
            </div>
        </div>
    </div>
    <div class="footer-mobile-center">&#xA9; Nicolaus Feldtann 2025</div> 
</div>
