@import './../../../styles.scss';

.contact-content{
    @include dFlex($fd: row, $jc: space-between);
    margin: 0px 72px 0px 72px;
    width: 90%;
}

h2{
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: $brigth_green;
    background: none;
    margin: 10px 0px 10px 0px;
}

h4{
    color: $brigth_green;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
    background: none;
}

.sub-h4{
    color: $brigth_green;
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
    background: none;
}

.contact-me{
    @include dFlex($ai: normal);
    background: none;
    width: 568px;
    height: 470px;

    p{
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    .sub-line{
        @include dFlex($jc: normal, $fd: row);
        margin: 12px 0px 12px 0px;

        .para-color{
            color: $brigth_green;
            margin: 0px 0px 0px 8px 
        }
    }
}

.contact-info{
    @include dFlex();
    width: 616px;

    .contact-row{
        @include dFlex($ai: normal);
        width: 100%;

        .seperator{
            width: 100%;
            border: solid 1px $light_green;
            margin: 21px 0px 21px 0px;
        }

        input{
            font-family: 'Karla';
            font-weight: 400;
            font-size: 18px;
            color: white;
            border: none;
            margin: 5px 0px 5px 0px;
        }

        ::placeholder{
                color: white;
                font-size: 18px;
        }
    }
}

.contact-interact{
   @include dFlex();

    .confirm{
        @include dFlex($fd: row);
        background: none;

        .check{
            width: 18px;
            height: 18px;  
            cursor: pointer;
            background: none;

            &:hover{
                background: none;
                box-shadow: 0px 0px 19px 5px rgba(0,219,186,0.75);
                -webkit-box-shadow: 0px 0px 19px 5px rgba(0,219,186,0.75);
                -moz-box-shadow: 0px 0px 19px 5px rgba(0,219,186,0.75);
            }
        }
    }

    .confimr-para{
        font-weight: 400;
        color: white;
        font-size: 15px;
        margin: 0px 8px 0px 8px;

        .confirm-link{
            font-family: 'Fira Code';
            font-size: 15px;
            font-weight: 400;
            color: $brigth_green;
            text-decoration: none;
        }
    }

    .btn-area{
        @include dFlex();
        background: none;

        .btn{
            @include dFlex();
            color: white;
            font-weight: 400;
            font-size: 18px;
            width: 139px;
            height: 48px;
            background: none;
            border: solid 1px white;
            border-radius: 34px;
            margin: 16px 0px 12px 0px;
            overflow: hidden;

            &:hover{
                cursor: pointer;
                    color: $brigth_green;
                    border: solid 1px $brigth_green;

                    .btn-para{
                        background: none;
                        animation: slide-left 2s linear infinite;
                        color: $brigth_green;
                    }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .contact-me{
        margin: 0px 24px 0px 24px;
    }

    .contact-info{
        margin: 0px 24px 0px 24px;
    }
}

@media screen and (max-width: 750px) {

    .contact-content{
        flex-direction: column;
    }

    .contact-info{
        width: 90%;
        margin: 24px 0px 0px 0px;
    }

    .contact-me{
        width: 90%;

        h2{
            font-size: 56px;
        }
    }
}

@media screen and (max-width: 400px) {

    .contact-me{
        height: 548px;
    }
}

@media screen and (max-width: 350px) {

    .contact-me{

        .sub-line{
            flex-direction: column;
            align-items: normal;
        }
    }
}