<div class="contact-content">
    <div class="contact-me">
        <h4>Contact me</h4>
        <h2>Let's work together</h2>
        <h4 class="sub-h4">Got a problem to solve?</h4>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Placeat dolorem provident sequi iure adipisci aliquid dolores mollitia nihil 
            architecto quidem asperiores itaque necessitatibus ab reprehenderit, 
            ipsam voluptate laboriosam a tempore.
        </p>
        <div class="sub-line">
            <p> Need a Frontend developer?</p> <p class="para-color">Lets's talk!</p>
        </div>
    </div>
    <div class="contact-info">
        <div class="contact-row">
            <div class="seperator"></div>
            <h4 class="sub-h4">What's your name?</h4>
            <input type="text" id="name" placeholder="Your name goes here">
        </div>
            <div class="contact-row">
            <div class="seperator"></div>
            <h4 class="sub-h4">What's your email?</h4>
            <input type="text" id="name" placeholder="youremail@email.com">
        </div>
            <div class="contact-row">
            <div class="seperator"></div>
            <h4 class="sub-h4">How can I help you?</h4>
            <input type="text" id="name" placeholder="Hallo Nicolaus, I am interested in...">
            <div class="seperator"></div>
        </div>
        <div class="contact-interact">
            <div class="confirm">
                <div class="check-box">
                    <input class="check" type="checkbox" id="check">
                </div>
                <p class="confimr-para">I've read the <a class="confirm-link" href="">privacy policy</a> and agree to the processing of my data as outlined.</p>
            </div>
            <div class="btn-area">
                <div class="btn"> Say Hello ;) </div>
            </div>
        </div>
    </div>
</div>
