<div class="contact-content">
    <div class="contact-me">
        <h4>{{ translate('CONTACT') }}</h4>
        <h2>{{ translate('WORK') }}</h2>
        <h4 class="sub-h4">{{ translate('PROBLEM') }}</h4>
        <p>{{ translate('PROBLEM-CONTACT') }}</p>
        <div class="sub-line">
            <p> {{ translate('NEED') }}</p> <p class="para-color"> {{ translate('LETS-TALK') }}</p>
        </div>
    </div>
    <form class="contact-info" (submit)="sendMail($event)">
        <label class="contact-row">
            <div class="seperator"></div>
            <h4 class="sub-h4">{{ translate('NAME') }}</h4>
            <input type="text" id="name" name="name" [(ngModel)]="name" (ngModelChange)="changeBtn()" placeholder="{{ translate('PLACEHOLDER1') }}">
        </label>
        <label class="contact-row">
            <div class="seperator"></div>
            <h4 class="sub-h4">{{ translate('E-MAIL') }}</h4>
            <input type="email" name="email" [(ngModel)]="email" (ngModelChange)="changeBtn()" placeholder="{{ translate('PLACEHOLDER2') }}">
        </label>
        <label class="contact-row">
            <div class="seperator"></div>
            <h4 class="sub-h4">{{ translate('CONCERN') }}</h4>
            <input type="text" name="message" [(ngModel)]="message" (ngModelChange)="changeBtn()" placeholder="{{ translate('PLACEHOLDER3') }}">
            <div class="seperator"></div>
        </label>
        <div class="contact-interact">
            <div class="confirm">
                <div class="check-box">
                    <div class="check" [class.checked]="isChecked" (click)="check()" alt=""></div>
                </div>
                <p class="confimr-para">{{ translate('CHECK1') }} <a class="confirm-link" href="legal">{{ translate('PRIVICY') }}</a>{{ translate('CHECK2') }}</p>
            </div>
            <div class="btn-area">
                <button class="btn" [class.active]="isActive" type="submit" [disabled]="!isFormValid()">Say Hello ;)</button>
            </div>
        </div>
    </form>
</div>
