@import './../../../styles.scss';

.contact-content{
    @include dFlex($fd: row, $jc: space-between);
    margin: 0px 72px 0px 72px;
    width: 90%;
    max-width: 1920px;
}

h2{
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: $brigth_green;
    background: none;
    margin: 10px 0px 10px 0px;
}

h4{
    color: $brigth_green;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
    background: none;
}

.sub-h4{
    color: $brigth_green;
    font-family: 'Fira Code';
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
    background: none;
}

.contact-me{
    @include dFlex($ai: normal);
    background: none;
    width: 568px;
    height: 470px;

    p{
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    .sub-line{
        @include dFlex($jc: normal, $fd: row);
        margin: 12px 0px 12px 0px;

        .para-color{
            color: $brigth_green;
            margin: 0px 0px 0px 8px 
        }
    }
}

.contact-info{
    @include dFlex();
    width: 616px;
}

.contact-row{
    @include dFlex($ai: normal, $jc: unset);
    height: 148px;
    width: 100%;
    transition: 0.2s;

    .seperator{
        width: 100%;
        border: solid 1px $light_green;
        margin: 21px 0px 21px 0px;
    }

    input{
        font-family: 'Karla';
        font-weight: 400;
        font-size: 18px;
        height: 28px;
        color: white;
        border: none;
        margin: 0px 0px 5px 0px;
    }

    textarea{
        font-family: 'Karla';
        font-weight: 400;
        font-size: 18px;
        color: white;
        border: none;
        margin: 0px 0px 5px 0px;
        resize: none;
    }

    textarea:focus{
        outline: none;
        border: none;
        background-color: $dark_green;
    }

    input:focus{
        outline: none;
        border: none;
        background-color: $dark_green;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: white;
        transition: background-color 9999s ease-in-out 0s;
    }

    ::placeholder{
            color: rgb(197, 197, 197);
            font-size: 18px;
    }

    &:hover{
        cursor: pointer;

        .seperator{
            border: solid 1px $brigth_green;
        }

        ::placeholder{
            color: white;
        }
    }
}

.message-row{
    height: 200px;
}

span{
    font-family: 'Karla';
    font-size: 18px;
    color: #D45C64;
}

.span-txt{
    font-family: 'Karla';
    font-size: 18px;
    color: #D45C64;
}

.contact-interact{
   @include dFlex();

    .confirm{
        @include dFlex($fd: row);
        background: none;
    }

    .btn-area{
        @include dFlex();
        background: none;
    }
}

.confimr-para{
    font-weight: 400;
    color: white;
    font-size: 15px;
    margin: 0px 8px 0px 8px;
    background: none;

    .confirm-link{
        font-family: 'Fira Code';
        font-size: 15px;
        font-weight: 400;
        color: $brigth_green;
        text-decoration: none;

        &:hover{
            cursor: pointer;
        }
    }
}

.btn{
    @include dFlex();
    color: rgb(148, 148, 148);
    font-weight: 400;
    font-size: 18px;
    width: 139px;
    height: 48px;
    background: none;
    border: solid 1px rgb(148, 148, 148);
    border-radius: 34px;
    margin: 16px 0px 12px 0px;

    &.active{
        color: white;
        border: solid 1px white;

        &:hover{
            cursor: pointer;
                color: $brigth_green;
                border: solid 1px $brigth_green;

            .btn-para{
                background: none;
                animation: slide-left 2s linear infinite;
                color: $brigth_green;
            }
        }
    }

    &:hover{
        cursor: pointer;
    }
}

.check{
    background: none;
    background-image: url(/assets/img/PNG/icons-green/check-mark.png);
    background-size: cover;
    width: 18px;
    height: 18px;  
    cursor: pointer;

    &:hover{
        background: none;
        background-image: url(/assets/img/PNG/icons-green/check-hover.png);
        background-size: cover;
    }

    &.checked{
        background-image: url(/assets/img/PNG/icons-green/check-ckecked.png);
        background-size: cover;
        width: 18px;
        height: 18px; 

        &:hover{
            background: none;
            background-image: url(/assets/img/PNG/icons-green/check-checked-hover.png);
            background-size: cover;
        }
    }
}

.send-content{
    @include dFlex($dp: none);
    background: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    left: 0px;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.send-message{
    @include dFlex($jc: normal);
    height: 50%;
    max-height: 1240px;
    min-height: 572px;
    width: 50%;
    max-width: 1920px;
    background: none;
    background-image: url(/assets/img/SVG/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid $brigth_green;
    border-radius: 30px;
}

.box-header{
    @include dFlex($fd: row, $jc: space-around);
    background: none;
    width: 100%;
    margin: 28px 0px 0px 0px;

    h1{
        background: none;
        font-size: 72px;
        color: $brigth_green;
    }
}

.send-icon{
    @include dFlex();
    width: 48px;
    height: 48px;
    background: none;

    .send-close{
        @include dFlex();
        width: 20px;
        height: 20px;
        background: none;
        background-image: url(/assets/img/PNG/close_small.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: background-image 0.3s ease-in-out;

        &:hover{
            cursor: pointer;
            width: 28px;
            height: 28px;
            background: none;
            background-image: url(/assets/img/PNG/icons-green/close-hover.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

.send-txt{
    @include dFlex();
    text-align: center;
    background: none;
    height: 50%;
    margin: 80px 12px 0px 12px;

    p{
        background: none;
        color: white;
        font-size: 36px;
    }
}

.show{
    display: flex;
    animation: slideInFromRight 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {

    .contact-me{
        margin: 0px 24px 0px 24px;
    }

    .contact-info{
        margin: 0px 24px 0px 24px;
    }
}

@media screen and (max-width: 935px) {
    
    .box-header{

        h1{
            font-size: 48px;
        }
    }

    .send-txt{

        p{
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 750px) {

    .contact-content{
        flex-direction: column;
    }

    .contact-info{
        width: 90%;
        margin: 24px 0px 0px 0px;
    }

    .contact-me{
        width: 90%;

        h2{
            font-size: 56px;
        }
    }

    .box-header{

        h1{
            font-size: 28px;
        }
    }

    .send-txt{

        p{
            font-size: 18px;
        }
    }
}