@import './../../../styles.scss';

@media screen and (max-width: 450px) {

    .contact-me{
        height: 548px;
    }

    .box-header{
        margin: 28px 18px 0px 0px;
    }
}

@media screen and (max-width: 350px) {

    .contact-me{

        .sub-line{
            flex-direction: column;
            align-items: normal;
        }
    }

    .box-header{

        h1{
            font-size: 24px;
        }
    }
}