<div class="mobile-menu-background" [class.show]="isShow" (click)="showMenu()">
    <div class="mobile-menu" (click)="$event.stopPropagation()">
        <div class="mobile-menu-content">
            <div class="mobile-links">
                <a class="mobile-link" routerLink="aboutMe" (click)="showMenu()">{{ translate('ABOUT-ME') }}</a>
                <a class="mobile-link" routerLink="#skill-set" (click)="showMenu()">{{ translate('SKILLS') }}</a>
                <a class="mobile-link" routerLink="#projects" (click)="showMenu()">{{ translate('PROJECTS') }}</a>
            </div>
            <div class="switch" [class.switched]="isSwitched" (click)="toggleLanguage()">
                <div class="toggle-switch"></div>
            </div>
        </div>
    </div>
</div>
<nav>
    <div class="link-area">
        <div class="switch" [class.switched]="isSwitched" (click)="toggleLanguage()">
            <div class="toggle-switch"></div>
        </div>
        <div class="links">
            <div class="link">
                <a class="nav-link" href="#aboutMe">{{ translate('ABOUT-ME') }}</a>
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cutDot">
            </div>
            <div class="link">
                <a class="nav-link" href="#skill-set">{{ translate('SKILLS') }}</a>
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
            </div>
            <div class="link">
                <a class="nav-link" href="#projects">{{ translate('PROJECTS') }}</a>
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
            </div>
        </div>
    </div>
    <a class="logo-area" href="#landing">
        <img class="logo-nav" src="./assets/img/PNG/logos/newLogo.png" alt="placeholder logo">
    </a>
</nav>
<div class="mobile-nav">
    <div class="mobile-logo-area">
        <img class="mobile-logo" src="./assets/img/PNG/logos/solo-logo.png" alt="">
    </div>
    <div class="mobile-btn">
        <img class="mobile-btn-img" (click)="showMenu()" src="./assets/img/JPG/menu.jpg" alt="">
    </div>
</div>
