@import "./../../../../styles.scss";

.feedback{
    @include dFlex($ai: unset, $jc: unset);
    
    width: 500px;
    background-color: $light_green;
    border: 1px solid $brigth_green;
    padding: 0px 28px 0px 28px;
    border-radius: 30px;
    margin: 0px 48px 0px 48px;

    .feedTxt-area{
        background-color: $light_green;
        
        .feedTxt{
            background-color: $light_green;
            color: white;
        }
    }

    .feedback-icon{
        background: transparent;
        width: 90px;
        height: 64px;
        position: relative;
        top: -18px;
        right: 44px;
    }

    .name-area{
        @include dFlex($fd: row);
        background-color: $light_green;

        .name-line{
            background-color: $light_green;
            border: solid 1px white;
            width: 50%;
        }

        .name{
            margin: 0px 0px 0px 28px;
            background-color: $light_green;
            color: white;
            margin: 28px 0px 28px 0px;
        }
    }
}