@import "./../../../../styles.scss";

.feedback{
    @include dFlex($ai: unset, $jc: unset);
    
    width: 700px;
    background-color: $light_green;
    border: 1px solid $brigth_green;
    padding: 0px 28px 0px 28px;
    border-radius: 30px;
    margin: 0px 48px 0px 48px;

    .feedTxt-area{
        background-color: $light_green;
        
        .feedTxt{
            background-color: $light_green;
            color: white;
            font-size: 18px;
        }
    }

    .feedback-icon{
        background: transparent;
        width: 90px;
        height: 64px;
        position: relative;
        top: -18px;
        right: 44px;
    }

    .name-area{
        @include dFlex($fd: row);
        background-color: $light_green;

        .name-line{
            background-color: $light_green;
            border: solid 1px white;
            width: 50%;
        }

        .name{
            background-color: $light_green;
            color: white;
            margin: 28px 0px 28px 28px;
        }
    }

    @media screen and (max-width: 1800px) {
        width: 480px;
    }

    @media screen and (max-width: 1325px) {
        width: 348px
    }

    @media screen and (max-width: 900px) {
        width: 700px;
    }

    @media screen and (max-width: 800px) {
        width: 418px;
        margin: 0px 80px 0px 80px;
    }

    @media screen and (max-width: 525px) {
        width: 300px;
    }

    @media screen and (max-width: 400px) {
        width: 248px;
    }
}