@import './../../../styles.scss';

.projects-content{
    @include dFlex($ai: normal);
    width: 90vw;
    height: 565px;
    margin: 0px 0px 0px 72px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    color: $brigth_green;
    margin: 0px 0px 5px 0px;
}

h2{
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: $brigth_green;
    margin: 5px 0px 5px 0px;
}

p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
}

.seperator{
    width: 955px;
    border: solid 1px $light_green;
}

