@import './../../../styles.scss';

.projects-content{
    @include dFlex($ai: normal);
    width: 100%;
    height: 105vh;
    margin: 0px 0px 0px 72px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    color: $brigth_green;
    margin: 0px 0px 5px 0px;
}

h2{
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: $brigth_green;
    margin: 5px 0px 5px 0px;
}

p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
}

.seperator{
    width: 955px;
    border: solid 1px $light_green;
}

@media screen and (max-width: 970px) {

    .projects-content{
        width: 90%;
        margin: 0px 12px 0px 12px;
    }
}

@media screen and (max-width: 615px) {

    .projects-content{
        h2{
            font-size: 56px;
        }
    }
}

@media screen and (max-height: 750px) {

    .projects-content{
        height: 800px;
    }
}

