<div class="about-me">
    <div class="center-section">
        <div class="me-box left">
            <img class="me-img" src="./../../../assets/img/JPG/me.jpg" alt="me">
        </div>
        <div class="me-box right">
            <h4>Who I Am</h4>
            <div class="box-content">
                <h2>About me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                     Error corporis autem nulla eos assumenda reprehenderit nobis magnam sint magni 
                     veritatis voluptate, quam eaque suscipit, distinctio delectus temporibus dolor 
                     aliquid sunt.
                </p>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/aboutMe.png" alt="me-icon">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Obcaecati, assumenda temporibus. Enim odit atque sit assumenda illo id veniam ratione 
                        labore quis dolor laborum praesentium, reprehenderit corporis! Sunt, iusto quae.
                    </p>
                </div>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/meSpirla.png" alt="me-icon">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Obcaecati, assumenda temporibus. Enim odit atque sit assumenda illo id veniam ratione 
                        labore quis dolor laborum praesentium, reprehenderit corporis! Sunt, iusto quae.
                    </p>
                </div>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/meCheck.png" alt="me-icon">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Obcaecati, assumenda temporibus. Enim odit atque sit assumenda illo id veniam ratione 
                        labore quis dolor laborum praesentium, reprehenderit corporis! Sunt, iusto quae.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
