<div class="about-me">
    <div class="center-section">
        <div class="me-box left">
            <img class="me-img" src="./../../../assets/img/JPG/me.jpg" alt="me">
            <img class="me-img-shadow" src="./../../../assets/img/PNG/img-raster.png" alt="me-shadow">
        </div>
        <div class="me-box right">
            <h4>Who I Am</h4>
            <div class="box-content">
                <h2>About me</h2>
                <p>
                    Hey there, I'm Nicolaus! I'm an entusiastic an a bit nerdy career changer. 
                    I want to make coding my bew profession. 
                    The limetless posibilities to creat something new, inspire me again and again.

                </p>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/aboutMe.png" alt="me-icon">
                    <p>
                        I'm based in Hambrg. I'm open to work remotly and/or in the office on site.
                    </p>
                </div>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/meSpirla.png" alt="me-icon">
                    <p>
                        The more i know... I'm very interested in learning new technologies and 
                        improve my skills and becomming ervery day a better programmer than the day before.
                    </p>
                </div>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/meCheck.png" alt="me-icon">
                    <p>
                        Solving problems is part of my daily routine, espaecially for me as a cereer changer.
                        This is most satisfying when you find a solution that dosen't seem obvious at first.
                        Somthing a little like Columbu's egg =)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
