@import './../../../styles.scss';

.about-me{
    @include dFlex();
    height: 100vh;
    position: relative;
    top: 80px;
    background: none;
}

.center-section{
    @include dFlex($fd: row, $ai: normal, $jc: space-around);
    height: 708px;
}

.me-box{
    width: 480px;
    height: 480px;
}

.left{
    @include dFlex($jc: end);

    .me-img{
        position: relative;
        top: 524px;
        left: 48px;
        width: 568px;
        height: 568px;
        border-radius: 30px;
        z-index: 5;
    }

    .me-img-shadow{
        width: 568px;
    }
}

.right{
    @include dFlex($ai: normal, $jc: flex-start);

    h2{
        font-family: 'Fira Code';
        font-weight: 700;
        font-size: 64px;
        color: $brigth_green;
        background: none;
    }

    h4{
        color: $brigth_green;
        font-size: 24px;
        font-weight: 500;
        margin: 0px 0px 10px 0px;
        background: none;
    }

    .box-content{
        @include dFlex($ai: normal, $jc: space-between);
        border: solid 1px $brigth_green;
        border-radius: 30px;
        background-color: $soft_green;
        color: white;
        width: 480px;
        height: 480px;
        padding: 48px 48px 48px 48px;
    }

    .me-para{
        @include dFlex($fd: row);
        background: none;

        .me-icon{
            width: 32px;
            height: 32px;
            background: none;
            margin: 0px 24px 0px 0px;
        }

        p{
            background: none;
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0px 16px 0px;
        }
    }

    p{
        background: none;
        font-size: 18px;
        font-weight: 400;
        margin: 16px 0px 16px 0px;
    }
}