<div class="about-me">
    <div class="center-section">
        <div class="me-box left">
            <img class="me-img" src="./../../../assets/img/JPG/me.jpg" alt="me">
            <img class="me-img-shadow" src="./../../../assets/img/PNG/img-raster.png" alt="me-shadow">
        </div>
        <div class="me-box right">
            <h4>{{ translate('WER-ICH-BIN') }}</h4>
            <div class="box-content">
                <h2>{{ translate('ABOUT') }}</h2>
                <p>{{ translate('ME') }}</p>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/aboutMe.png" alt="me-icon">
                    <p>{{ translate('LOCATION') }}</p>
                </div>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/meSpirla.png" alt="me-icon">
                    <p>{{ translate('MIND') }} </p>
                </div>
                <div class="me-para">
                    <img class="me-icon" src="./../../../assets/img/PNG/meCheck.png" alt="me-icon">
                    <p>{{ translate('SOLVE') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
