@import './../../../styles.scss';

.about-me{
    @include dFlex();
    height: 1180px;
    width: 100%;
    max-width: 1920px;
    top: 80px;
    background: none;
}

.center-section{
    @include dFlex($fd: row, $ai: normal, $jc: space-around);
    height: 85%;
    max-height: 918px;
    width: 100%;
    z-index: 1;
    background: none;
}

.me-box{
    width: 480px;
    height: 480px;
}

.left{
    @include dFlex($jc: end);

    .me-img{
        position: relative;
        top: 478px;
        left: 36px;
        width: 480px;
        height: 568px;
        border-radius: 30px;
        z-index: 5;
    }

    .me-img-shadow{
        width: 480px;
        position: relative;
        top: 28px;
    }
}

.right{
    @include dFlex($ai: normal, $jc: end);
    height: 100%;

    h2{
        font-family: 'Fira Code';
        font-weight: 700;
        font-size: 64px;
        color: $brigth_green;
        background: none;
        margin: 12px 48px 0px 48px;
    }

    h4{
        color: $brigth_green;
        font-size: 24px;
        font-weight: 500;
        margin: 0px 0px 10px 0px;
        background: none;
    }

    .box-content{
        @include dFlex($ai: normal, $jc: space-between);
        border: solid 1px $brigth_green;
        border-radius: 30px;
        background-color: $soft_green;
        color: white;
        width: 480px;
        height: auto;
        padding: 0px 12px 0px 12px;
    }

    .me-para{
        @include dFlex($fd: row);
        background: none;
        margin: 0px 48px 0px 48px;

        .me-icon{
            width: 32px;
            height: 32px;
            background: none;
            margin: 0px 24px 0px 0px;
        }

        p{
            background: none;
            font-size: 16px;
            font-weight: 400;
            margin: 16px 0px 16px 0px;
        }
    }

    p{
        background: none;
        font-size: 16px;
        font-weight: 400;
        margin: 0px 48px 0px 48px;
    }
}

@media screen and (max-width: 1100px) {

    .left{
        .me-img{
            width: 400px;
            top: 428px;
            left: 28px;
        }

        .me-img-shadow{
            width: 400px;
        }
    }

    .right{
        margin: 0px 0px 0px 24px;
        .box-content{
            height: auto;
            width: 412px;

            h2{
                font-size: 48px;
                margin: 12px 12px 12px 12px;
            }

            p{
                margin: 0px 12px 12px 12px;
            }

            .me-para{
                margin: 0px 12px 0px 12px;
            }
        }
    }
}

@media screen and (max-width: 900px) {

    .about-me{
        position: unset;
        justify-content: normal;
        margin: 88px 0px 0px 0px;
    
    }

    .center-section{
        flex-direction: column;
        align-items: center;

        .left{
            margin: 0px 0px 48px 0px;

            .me-img{
                position: unset;
                height: 400px;
            }

            .me-img-shadow{
                display: none;
            }
        }

        .right{
            margin: 0;
            width: auto;
            align-items: normal;
        }
    }
}

@media screen and (max-width: 450px) {



    .center-section{
        height: 1300px;

        .left{
            
            .me-img{
                width: 300px;
                height: 300px;
            }
        }

        .right{
            height: fit-content;

            .box-content{
                width: 300px;

                p{
                    margin: 0px 12px 24px 12px;
                }

                .me-para{
                    margin: 0px 12px 12px 12px;
                }
            }
        }
    }
}