@import './../../styles.scss';

*{
    @include dFlex();
    overflow: hidden;
}

.landing{
    height: 100dvh;
    background-image: url(/assets/img/SVG/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
}

.skill-set{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:25% 75%;
}

@media screen and (max-width: 870px) {

    .skill-set{
        height: 1260px;
    }
}