<div class="impressum-content">
    <div class="txt-area">
        <div class="impressum-header">
            <h1>Impressum</h1>
            <a class="btn-area" routerLink="">
                <img class="back-icon" src="./../../assets/img/PNG/icons-green/arrow_forward.png" alt="">
                <p class="back-para">Back</p>
            </a>
        </div>
        <br>
        <p>{{ translate('IMPRESS-HEAD-PURS') }}</p>
        <br>
        <p>Nicolaus Feldtmann</p>
        <br>
        <p>Thadenstraße 1</p>
        <p>20767 Hamburg</p>
        <br>
        <div>
            <h3>{{ translate('IMPRESS-HEAD-REP') }}</h3>
            <p>Nicolaus Feldtmann</p>
        </div>
        <br>
        <div>
            <h3>{{ translate('IMPRESS-HEAD-CON') }}</h3>
            <p>Telefon: 0176-80086674</p>
            <p>E-mail: nicolaus.feldtmann&#64;gmx.de</p>
        </div>
        <br>
        <h3>{{ translate('IMPRESS-HEAD-DIS') }}</h3>
        <br>
        <h3>{{ translate('IMPRESS-HEAD-STAN') }}</h3>
        <br>
        <p>{{ translate('IMPRESS-TXT1') }}</p>
        <br>
        <h3>{{ translate('IMPRESS-PRIVECY') }}</h3>
        <br>
        <p>{{ translate('IMPRESS-TXT2') }}</p>
        
    </div>
</div>
