@import './../../styles.scss';

.impressum-content{
    @include dFlex();

    .txt-area{
        @include dFlex($ai: normal);
        width: 75%;
        max-width: 1920px;
        background: none;
        background-color: $soft_green;
        border: solid 1px $brigth_green;
        border-radius: 30px;
        margin: 48px 0px 0px 0px;
        padding: 12px 24px 12px 24px;

        .impressum-header{
            @include dFlex($fd: row, $jc: space-between);

            h1{
                background: none;
                color: $brigth_green;
            }

            .btn-area{
                @include dFlex();
                width: 100px;
                height: 100px;
                background: none;
                border: 1px solid $brigth_green;
                border-radius: 30px;
                text-decoration: none;
                transition: 0.5s ease;

                .back-para{
                    font-size: 28px;
                }

                .back-icon{
                    background: none;
                    rotate: 180deg;
                    width: 48px;
                }

                &:hover{
                    cursor: pointer;
                    transform: translate3d(0, 15px, 0);
                }
            }
        }

        h3{
            background: none;
            color: $brigth_green;
        }

        p{
            background: none;
            color: white;
            font-size: 16px;
        }

        div{
            background: none;
        }
    }
}

@media screen and (max-width: 400px) {

    .impressum-content{

        .txt-area{

            .impressum-header{

                h1{
                    margin: 0px 24px 0px 0px;
                }

                .btn-area{
                    width: 48px;
                    height: 80px;

                    .back-icon{
                        width: 36px;
                    }

                    .back-para{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 330px) {

    .impressum-content{

        .txt-area{

            .impressum-header{
                flex-direction: column;
                align-items: end;

                h1{
                    margin: 0px 0px 12px 0px;
                }
            }
        }
    }
}