<div class="impressum-content">
    <div class="txt-area">
        <div class="impressum-header">
            <h1>Impressum</h1>
            <a class="btn-area" href="">
                <img class="back-icon" src="./../../assets/img/PNG/icons-green/arrow_forward.png" alt="">
                <p class="back-para">Back</p>
            </a>
        </div>
        <br>
        <p>Angaben gemäß § 5 DDG</p>
        <br>
        <p>Nicolaus Feldtmann</p>
        <br>
        <p>Thadenstraße 1</p>
        <p>20767 Hamburg</p>
        <br>
        <div>
            <h3>Vewrtreten Durch</h3>
            <p>Nicolaus Feldtmann</p>
        </div>
        <br>
        <div>
            <h3>Kontackt</h3>
            <p>Telefon: 0176-80086674</p>
            <p>E-mail: nicolaus.feldtmann&#64;gmx.de</p>
        </div>
        <br>
        <h3>Haftungausschluss:</h3>
        <br>
        <h3>Haltung für Links</h3>
        <br>
        <p>
           Unser Angebot enthält Links zu externen Webseiten Dritter, 
           auf deren Inhalte wir keinen Einfluss haben. 
           Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. 
           Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder 
           Betreiber der Seiten verantwortlich. 
           Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf 
           mögliche Rechtsverstöße überprüft. 
           Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. 
           Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch 
           ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. 
           Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen. 
        </p>
        <br>
        <h3>Datenschutz</h3>
        <br>
        <p>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. 
            Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, 
            Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, 
            stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an 
            Dritte weitergegeben.
            Wir weisen darauf hin, dass die Datenübertragung im Internet 
            (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. 
            Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch 
            Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und 
            Informationsmaterialien wird hiermit ausdrücklich widersprochen. 
            Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im 
            Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
        </p>
        
    </div>
</div>
