@import './../../../../styles.scss';

@media screen and (max-width: 1350px) {

    .project{
        

        .hidden-pic-area{
            top: 160px;

            .hidden-pic{
                width: 324px;
                height: 212px;
            }

            .pic-shadow{
                width: 324px;
                height: 212px;
                bottom: 240px;
            }
        }
    }

    .info-left{
        margin: 0px 24px 0px 24px;
    }

    .info-right{
        margin: 24px 24px 0px 24px;
    }

    .pro-info{
        width: 85%;
        height: 85dvh;
    }
}

@media screen and (max-width: 1150px) {

    .project{

        .hidden-pic-area{
            left: 48px;
        }
    }

    .info-right{
        .info-img-area{
            width: 100%;

            .info-img{
                width: 95%;
                height: 95%;
            }
        }
    }
}



@media screen and (max-width: 950px) {

    .project{

        .hidden-pic-area{
            display: none !important;
        }
    }


    .project-content{
        width: 950px;
    }

    .pro-info{
        flex-direction: column-reverse;
        height: auto;
        height: 85dvh;
    }

    .info-left{
        justify-content: unset;
        width: 85%;

        .info-header{
            height: auto;
            margin: 0;

            h2{
                font-size: 50px;
            }
        }        
    }

    .info-right{
        height: 45%;
        width: 90%;
        
        .next{
            display: none;
        }

        .info-img-area{

            .info-img{
                width: 70%;
            }
        }
    }

    .desc{
        margin: 0;

        h5{
            margin: 0;
        }
    }

    .next-mobile-row{
        .next-mobile{
            display: flex;
        }
    }
}

@media screen and (max-width: 900px) {

    .project-content{

        .project-name-info{
            flex-direction: column;
            align-items: unset;
            height: 75%;
            pointer-events: none;
        }
    }

    .skills{
        justify-content: unset;
    }
}

@media screen and (max-width: 725px) {

    .project{
        max-width: 100%;
    }

    .seperator{
        max-width: 100%;
    }

    .info-right{
        width: auto;

        .info-img-area{

            .info-img{
                width: 80%;
            }
        }
    }

    .icon-bar{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 550px) {

    .icon-bar{
        margin: 0;
    }

    .info-right{
        margin: 0px 24px 0px 24px;
    }

    .info-link{ 

        .link-icon-box{
            display: none;
        }
    }
}

@media screen and (max-width: 430px) {

    .desc{

        .info-link-area{
            margin: 6px 0px 0px 0px;

        }

        h5{
            font-size: 18px;
        }
    }

    .info-link{
        height: 34px;
    }

    .info-right{
        height: auto;

        .info-img-area{

            .info-img{
                width: 100%;
            }
        }
    }

    .info-left{
        height: auto;

        .info-header{

            h2{
                font-size: 28px;
            }

            h3{
                font-size: 34px;
            }
        }
    }

    .info-skill{
        margin: 6px 12px 6px 12px;
    }

    .icon-bar{
        flex-direction: column;
        align-items: unset;
        margin: 0;

        .icon{
            justify-content: unset;
        }
    }
}

@media screen and (max-height: 800px) {

    .info-skill{
        margin: 4px 0px 4px 0px;
    }

    .info-left{
        overflow: auto;

        .info-header{

            h2{
                font-size: 28px;
                margin: 0;
            }

            h3{
                font-size: 24px;
            }
        }

        .info-header{
            margin: 0;
            height: 56px;

            h2{
                font-size: 36px;
                margin: 24px 0px 0px 0px;
            }

            h3{
                font-size: 28px;
                margin: 0px 0px 24px 0px;
            }
        }
    }

    .info-right{
        height: auto;
    }

    .desc{
        margin: 12px 0px 12px 0px;

        h5{
            margin: 0;
        }

        .info-link-area{
            margin: 8px 0px 0px 0px;
        }
    }

    .info-link{
        height: 28px;
    }
}

@media screen and (max-height: 575px) {

    .desc{
        margin: 0  ;

        p{
            margin: 0;
        }

        h5{
            font-size: 18px;
            margin: 28px 0px 0px 0px;
        }

        .info-link{
            height: 24px;
        }
    }
}

@media screen and (max-height: 500px) {

    .info-right{

        .info-img-area{

            .info-img{
                width: 60%;
            }
        }
    }
}

@media screen and (min-width: 1920px) {

    .info-left{
        overflow: auto;

        .info-header{

            h2{
                font-size: 80px;
                margin: 0;
            }

            h3{
                font-size: 70px;
            }
        }
    }

    .desc{

        h5{
            font-size: 40px;
        }

        p{
            font-size: 34px;
        }
    }

    .info-right{

        .info-img-area{

            .info-img{
                width: 700px;
                height: 500px;
            }
        }
    }
}