@import './../../../../styles.scss';

@media screen and (max-width: 1350px) {

    .project{

        .hidden-pic-area{
            top: 160px;

            .hidden-pic{
                width: 324px;
                height: 212px;
            }

            .pic-shadow{
                width: 324px;
                height: 212px;
                bottom: 240px;
            }
        }
    }

    .info-left{
        margin: 0px 24px 0px 24px;
    }

    .info-right{
        margin: 0px 24px 0px 24px;
    }

    .pro-info{
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {

    .project{

        .hidden-pic-area{
            left: 48px;
        }
    }

    .info-right{
        .info-img-area{
            width: 100%;

            .info-img{
                width: 428px;
                height: 288px;
            }
        }
    }
}

@media screen and (max-width: 1020px) {

    .info-right{
        .info-img-area{
            .info-img{
                width: 315px;
                height: 236px;
            }
        }
    }
}

@media screen and (max-width: 970px) {

    .project{

        .hidden-pic-area{
            display: none;
        }
    }

    .seperator{
        width: 100%;
        max-width: none;
    }
}

@media screen and (max-width: 900px) {

    .pro-info{
        flex-direction: column-reverse;
        height: auto;
        height: 95%;

        .info-right{
            width: 90%;

            .info-img-area{
                .info-img{
                    width: 428px;
                    height: 288px;
                }
            }

            .next{
                display: none;
            }
        }

        .info-left{
            width: 90%;

            .info-header{
                height: auto;
                margin: 12px 0px 20px 0px;

                h2{
                    font-size: 72px;
                }
            }

            .desc{

                h5{
                    margin: 0;
                }

                .next-mobile{
                    display: flex;
                }
            }
        }
    }
}

@media screen and (max-width: 615px) {

    .project-content{
        flex-direction: column;

        .project-name-info{
            flex-direction: column;
            align-items: normal;
            justify-content: center;
            width: auto;

            h3{
                margin: 0px 0px 12px 0px;
            }
        }
    }

    .pro-info{

        .info-right{
            margin: 0;

            .info-img-area{

                .info-img{
                    width: 248px;
                    height: 156px;
                }
            }
        }
    }
}

@media screen and (max-height: 700px) {
    .pro-info{

        .info-left{

            .desc{
                margin: 12px 0px 12px 0px;

                h5{
                    margin: 0;
                }
            }

            .info-header{
                margin: 0;
                height: 56px;

                h2{
                    font-size: 36px;
                    margin: 24px 0px 0px 0px;
                }

                h3{
                    font-size: 28px;
                    margin: 0px 0px 24px 0px;
                }
            }
        }
    }

    .info-right{
        height: auto;

        .info-img-area{

            .info-img{
                width: 448px;
                height: 288px;
            }
        }
    }
}

@media screen and (max-height: 575px) {

    .info-left{

        .desc{
            margin: 0  ;

            p{
                margin: 0;
            }

            h5{
                font-size: 18px;
                margin: 28px 0px 0px 0px;
            }

            .info-link-area{

                .info-link{
                    height: 24px;
                }
            }
        }
    }
}