<div class="projects-selection">
    <div class="seperator"></div>
    <div class="project">
        <div class="project-content" (click)="show()">
            <div class="project-name-info">
                <h3>{{ project.name }}</h3>
                <div class="skills">
                    <div *ngFor="let skill of project.skills; let track = index">
                        <div class="skill">
                            <p class="skill-name">{{ skill.skillName }}</p>
                            <div class="skill-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-pic-area">
                <img class="hidden-pic" src="./assets/img/PNG/screens/{{ project.img1 }}" alt="">
                <img class="pic-shadow" src="./../../../assets/img/PNG/img-raster.png" alt="">
            </div>
        </div>
         <div class="info-content" [class.show]="isShow">
            <div class="pro-info">
                <div class="info-left">
                    <div class="info-header">
                        <h2>{{ project.proNr }}</h2>
                        <h3>{{ project.name }}</h3>
                    </div>
                    <div class="desc">
                        <h5>What is this project about?</h5>
                        <p>
                            {{ project.description }}
                        </p>
                        <div class="icon-bar">
                            <div *ngFor="let skill of project.skills; let track = index">
                                <div class="icon">
                                    <img class="info-icon" src="./assets/img/PNG/icons-green/{{ skill.skillIcon }}" alt="">
                                    <p class="skill-name">{{ skill.skillName }}</p>
                            </div>
                        </div>
                        </div>
                            <div class="info-link-area">
                                <a class="info-link" href="{{ project.gitLink }}">GitHub</a>
                                <a class="info-link" href="{{ project.projectLink }}">Live Test</a>
                            </div>
                    </div>
                </div>
                <div class="info-right">
                    <div class="info-close" (click)="show()"></div>
                    <div class="info-img-area">
                        <img class="info-img" src="./assets/img/PNG/screens/{{ project.img2 }}" alt="">
                    </div>
                    <a class="next" href="">Next project <img class="next-icon" src="./../../../../assets/img/PNG/icons-green/arrow_forward.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
