<div class="projects-selection">
    <div class="seperator"></div>
    <div class="project">
        <div class="project-content">
            <h3>{{ project.name }}</h3>
            <div class="skills">
                <div class="skill">
                    <p>{{ project.skill1 }}</p>
                    <div class="skill-seperator"></div>  
                </div>
                <div class="skill">
                    <p>{{ project.skill2 }}</p>
                    <div class="skill-seperator"></div>  
                </div>
                <div class="skill">
                    <p>{{ project.skill3 }}</p>
                    <div class="skill-seperator"></div>  
                </div>
            </div>
            <div class="hidden-pic-area">
                <img class="hidden-pic" src="./../../../assets/img/PNG/screens/{{ project.img1 }}" alt="">
                <img class="pic-shadow" src="./../../../assets/img/PNG/img-raster.png" alt="">
            </div>
        </div>
    </div>
</div>
