@import './../../../../styles.scss';


p{
    background: none;
}

div{
    background: none;
}

.projects-content{
    @include dFlex($ai: normal);
    width: 90vw;
    height: 565px;
    margin: 0px 0px 0px 72px;
}

.project-name-info{
    @include dFlex($fd: row, $jc: space-between);
    width: 59%;
    height: 100%;
    padding: 0px 24px 0px 24px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    color: $brigth_green;
    margin: 0px 0px 5px 0px;
}

h2{
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    color: $brigth_green;
    margin: 5px 0px 5px 0px;
}

p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
}

.seperator{
    width: 955px;
    max-width: 50%;
    border: solid 1px $light_green;
}

.project{
    @include dFlex($fd: row, $jc: normal, $ai: normal);
    height: 109px;

    .project-content{
        @include dFlex($fd: row, $jc: space-between);
        width: 80%;
        background: none;

        //&:hover{

          //  .hidden-pic-area{
            //    visibility: visible;
            //}
        //}

        .project-name-info{
            &:hover{
                cursor: pointer;
                background-color: $soft_green;
            }
        }

        h3{
            font-family: 'Fira Code';
            width: auto;
            font-size: 24px;
            font-weight: 700;
            color: white;
            background: none;
        }

        .skills{
            @include dFlex($fd: row);
            background: none;

            .skill{
                @include dFlex($fd: row);
                background: none;

                p{
                    background: none;
                    font-size: 18px;
                    color: white;
                }

                .skill-seperator{
                    background: none;
                    height: 24px;
                    border: solid 1px $light_green;
                    margin: 0px 4px 0px 4px;
                }
            }
        }
    }

    .hidden-pic-area{
        @include dFlex();
        visibility: hidden;
        position: relative;
        top: 72px;
        left: 208px;
        background: none;

        &.visible{
            visibility: visible !important;
        }

        .hidden-pic{
            width: 480px;
            height: 324px;
            border-radius: 45px;
            z-index: 2;
        }

        .pic-shadow{
            width: 480px;
            height: 324px;
            position: relative;
            bottom: 288px;
            left: 28px;
            border-radius: 45px;
        }
    }

    .show{
        display: flex;
    }
}

.info-content{
    @include dFlex($dp: none);
    background: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: none;
    z-index: 3;
    
}

.pro-info{
    @include dFlex($fd: row, $jc: space-around);
    background-color: $dark_green;
    border: solid 3px $brigth_green;
    border-radius: 30px;
    width: 75%;
    height: 75%;
    position: absolute;
    background-image: url(./../../../../assets/img/SVG/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.info-left{
    @include dFlex($ai: normal, $jc: space-between);
    background: none;
    width: 480px;
    height: 75%;

    .info-header{
        @include dFlex($ai: normal);
        background: none;
        height: 175px;
        width: 100%;
        margin: 0px 0px 20px 0px;
        
        h2{
            background: none;
            font-size: 128px;
            font-family: 'Karla';
            color: $brigth_green;
            font-weight: 700;
            margin: 0;
        }

        h3{
            color: white;
            background: none;
            font-size: 34px;
            font-weight: 700;
            margin: 0;
        }
    }

    .desc{
        @include dFlex($ai: normal);
        margin: 20px 0px 20px 0px;
        background: none;

        h5{
            background: none;
            font-size: 24px;
            color: $brigth_green;
            font-weight: 700;
            margin: 0px 0px 16px 0px;
        }

        p{
            background: none;
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0px 16px 0px;
        }

        .icon-bar{
            @include dFlex($fd: row, $jc: normal);
            background: none;
            margin: 16px 0px 0px 0px;
            width: 100%;

            .icon{
                @include dFlex($fd: row);
                background: none;
                width: 58px;
                height: 24px;
                margin: 0px 36px 0px 0px;

                .info-icon{
                    background: none;
                    width: 24px;
                    height: 24px;
                }

                .skill-name{
                    background: none;
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0px 0px 0px 4px;
                }
            }
        }
    }

    .info-link-area{
        @include dFlex($fd: row, $jc: normal);
        background: none;
        margin:20px 0px 0px 0px;

        .info-link{
            @include dFlex();
            background: none;
            height: 48px;
            width: 172px;
            color: white;
            font-size: 18px;
            font-weight: 400;
            border: solid 1px white;
            border-radius: 34px;
            text-decoration: none;
            margin: 0px 32px 0px 0px;

            &:hover{
                color: $brigth_green;
                border: solid 1px $brigth_green;
            }
        }
    }

    .next-mobile-row{
        @include dFlex($ai: end);
        width: 100%;
        background: none;

        .next-mobile{
            @include dFlex($fd: row, $dp: none);
            background: none;
            width: 151px;
            height: 40px;
            font-size: 18px;
            font-weight: 400;
            color: $brigth_green;
            text-decoration: none;

            .next-icon{
                background: none;
                width: 40px;
                height: 40px;
                margin: 0px 0px 0px 8px;
            }
        }
    }
}

.info-right{
    @include dFlex($ai: end, $jc:space-between);
    background: none;
    width: 480px;
    height: 90%;

    .info-icon{
        @include dFlex();
        width: 48px;
        height: 48px;

        .info-close{
            @include dFlex();
            width: 20px;
            height: 20px;
            background: none;
            background-image: url(./../../../../assets/img/PNG/close_small.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: background-image 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                width: 28px;
                height: 28px;
                background: none;
                background-image: url(./../../../../assets/img/PNG/icons-green/close-hover.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    .info-img-area{
        background: none;

        .info-img{
            background: none;
            width: 520px;
            height: 370px;
            border-radius: 34px;
        }
    }

    .next{
        @include dFlex($fd: row);
        background: none;
        width: 151px;
        height: 40px;
        font-size: 18px;
        font-weight: 400;
        color: $brigth_green;
        text-decoration: none;

        .next-icon{
            background: none;
            width: 40px;
            height: 40px;
            margin: 0px 0px 0px 8px;
        }
    }
}

@media screen and (max-width: 1350px) {

    .project{

        .hidden-pic-area{
            top: 160px;

            .hidden-pic{
                width: 324px;
                height: 212px;
            }

            .pic-shadow{
                width: 324px;
                height: 212px;
                bottom: 240px;
            }
        }
    }

    .info-left{
        margin: 0px 24px 0px 24px;
    }

    .info-right{
        margin: 0px 24px 0px 24px;
    }

    .pro-info{
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {

    .project{

        .hidden-pic-area{
            left: 48px;
        }
    }

    .info-right{
        .info-img-area{
            width: 100%;

            .info-img{
                width: 428px;
                height: 288px;
            }
        }
    }
}

@media screen and (max-width: 1020px) {

    .info-right{
        .info-img-area{
            .info-img{
                width: 315px;
                height: 236px;
            }
        }
    }
}

@media screen and (max-width: 970px) {

    .project{

        .hidden-pic-area{
            display: none;
        }
    }

    .seperator{
        width: 100%;
        max-width: none;
    }
}

@media screen and (max-width: 900px) {

    .pro-info{
        flex-direction: column-reverse;
        height: auto;
        height: 95%;

        .info-right{
            width: 90%;

            .info-img-area{
                .info-img{
                    width: 428px;
                    height: 288px;
                }
            }

            .next{
                display: none;
            }
        }

        .info-left{
            width: 90%;

            .info-header{
                height: auto;
                margin: 12px 0px 20px 0px;

                h2{
                    font-size: 72px;
                }
            }

            .desc{

                h5{
                    margin: 0;
                }

                .next-mobile{
                    display: flex;
                }
            }
        }
    }
}

@media screen and (max-width: 615px) {

    .project-content{
        flex-direction: column;

        .project-name-info{
            flex-direction: column;
            align-items: normal;
            justify-content: center;
            width: auto;

            h3{
                margin: 0px 0px 12px 0px;
            }
        }
    }

    .pro-info{

        .info-right{
            margin: 0;

            .info-img-area{

                .info-img{
                    width: 248px;
                    height: 156px;
                }
            }
        }
    }
}

@media screen and (max-height: 700px) {
    .pro-info{

        .info-left{

            .desc{
                margin: 12px 0px 12px 0px;

                h5{
                    margin: 0;
                }
            }

            .info-header{
                margin: 0;
                height: 56px;

                h2{
                    font-size: 36px;
                    margin: 24px 0px 0px 0px;
                }

                h3{
                    font-size: 28px;
                    margin: 0px 0px 24px 0px;
                }
            }
        }
    }

    .info-right{
        height: auto;

        .info-img-area{

            .info-img{
                width: 448px;
                height: 288px;
            }
        }
    }
}

@media screen and (max-height: 575px) {

    .info-left{

        .desc{
            margin: 0  ;

            p{
                margin: 0;
            }

            h5{
                font-size: 18px;
                margin: 28px 0px 0px 0px;
            }

            .info-link-area{

                .info-link{
                    height: 24px;
                }
            }
        }
    }
}