@import './../../styles.scss';

.send-content{
    @include dFlex();
    background: none;
    height: 100vh;

    .message-box{
        @include dFlex($jc: normal);
        height: 50%;
        min-height: 572px;
        width: 75%;
        background: none;
        background-color: $soft_green;
        border: 1px solid $brigth_green;
        border-radius: 30px;
    }

    .txt{
        @include dFlex();
        text-align: center;
        background: none;
        height: 50%;
        margin: 80px 0px 0px 0px;

        p{
            background: none;
            color: white;
            font-size: 36px;
        }
    }
}

.box-header{
    @include dFlex($fd: row, $jc: space-around);
    background: none;
    width: 100%;
    margin: 28px 0px 0px 0px;

    h1{
        background: none;
        font-size: 72px;
        color: $brigth_green;
    }

    .btn-area{
        @include dFlex();
        width: 100px;
        height: 100px;
        background: none;
        border: 1px solid $brigth_green;
        border-radius: 30px;
        text-decoration: none;
        transition: 0.5s ease;
        text-decoration: none;

        .back-para{
            background: none;
            font-size: 28px;
            color: white;
        }

        .back-icon{
            background: none;
            rotate: 180deg;
            width: 48px;
        }

        &:hover{
            cursor: pointer;
            transform: translate3d(0, 15px, 0);
        }
    }
}

@media screen and (max-width: 815px) {

    .send-content{

        .message-box{

            .txt{
                margin: 0px 24px 0px 24px;
            }
        }
    }

    .box-header{
        margin: 24px 24px 24px 24px;
    }
}

@media screen and (max-width: 730px) {

    .box-header{

        h1{
            font-size: 48px;
        }

        .btn-area{
            width: 48px;
            height: 80px;

            .back-icon{
                width: 36px;
            }

            .back-para{
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 470px) {

    .send-content{

        .message-box{

            .txt{

                p{
                    font-size: 28px;
                }
            }
        }
    }

     .box-header{
        flex-direction: column;
        align-items: end;
        margin: 24px 48px 24px 24px;

        h1{
            margin: 0px 0px 12px 0px;
        }
    }
}

@media screen and (max-width: 425px) {

    .send-content{

        .message-box{

            .txt{

                p{
                    font-size: 18px;
                }
            }
        }
    }

    .box-header{

        h1{
            font-size: 28px;
        }
    }
}