<div class="send-content">
    <div class="message-box">
        <div class="box-header">
            <h1>E-mail sent!</h1>
            <a class="btn-area" href="">
                <img class="back-icon" src="./../../assets/img/PNG/icons-green/arrow_forward.png" alt="">
                <p class="back-para">Back</p>
            </a>
        </div>
        <div class="txt">
            <p>
                Thank you for your interest!
            </p>
            <br>
            <p>I'll contact you as soon as posible</p>
        </div>
    </div>
</div>
