@import './../../../styles.scss';

.feedback-content{
    @include dFlex();
}

.feedback{
    @include dFlex($fd: row);
}


h3{
    font-family: 'Fira Code';
    font-size: 32px;
    font-weight: 700;
    color: $brigth_green;
    margin: 0px 0px 48px 0px;
    text-align: center
}

.quote{
    @include dFlex();
    background: none;
    background-color: $soft_green;
    width: 488px;
    border: solid 1px $brigth_green;
    border-radius: 30px;
    padding: 48px;

    p{
        background: none;
        color: white;
        font-size: 18px;
        margin: 0px 0px 48px 0px;
    }

    .quote-footer{
        @include dFlex($fd: row);
        width: 100%;
        background: none;

        .score{
            width: 100%;
            border: solid 1px white;
            margin: 0px 12px 0px 12px;
        }

        h5{
            background: none;
            color: white;
            font-size: 18px;
        }
    }
}

.btn-area{
    @include dFlex($fd: row);
    margin: 48px 0px 48px 0px;

    .dots{
        @include dFlex($fd: row);

        .feed-dot{
            width: 8px;
            height: 8px;
            margin: 0px 10px 0px 10px;
        }
    }
}

@media screen and (max-width: 615px) {

    .quote{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {

    .quote{
        width: 70%;
    }
}

