@import './../../../styles.scss';

.feedback-content{
    @include dFlex();
}

.feedback{
    @include dFlex($ai: unset, $jc: unset);
    justify-content: center;
    align-items: center;

    .innder-feed{
        width: 700px;
        background-color: $light_green;
        border: 1px solid $brigth_green;
        padding: 0px 28px 0px 28px;
        border-radius: 30px;
        margin: 0px 48px 0px 48px;

        @media screen and (max-width: 950px) {
            width: 60%;
        }

        @media screen and (max-width: 430px) {
            margin: 24px 48px 0px 48px;
        }
    }

    .feedTxt-area{
        background-color: $light_green;
        
        .feedTxt{
            background-color: $light_green;
            color: white;
            font-size: 18px;
        }
    }

    .feedback-icon{
        background: transparent;
        width: 90px;
        height: 64px;
        position: relative;
        top: -18px;
        right: 44px;
    }

    .name-area{
        @include dFlex($fd: row);
        background-color: $light_green;

        .name-line{
            background-color: $light_green;
            border: solid 1px white;
            width: 50%;
        }

        .name{
            background-color: $light_green;
            color: white;
            margin: 28px 0px 28px 28px;
            font-style: italic;
        }
    }

    @media screen and (max-width: 1800px) {
        width: 480px;
    }

    @media screen and (max-width: 1325px) {
        width: 348px
    }

    @media screen and (max-width: 900px) {
        width: 700px;
    }

    @media screen and (max-width: 800px) {
        width: 418px;
        margin: 0px 80px 0px 80px;
    }

    @media screen and (max-width: 525px) {
        width: 300px;
    }

    @media screen and (max-width: 400px) {
        width: 248px;
    }
}

.feedback-area{
    display: flex;
    flex-direction: row;
}

ul{
    width: 100vw;
    height: 470px;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    @media screen and (max-width: 630px) {
        padding: 0px 0px 0px 80px;
        height: 572px;
    }

    @media screen and (max-width: 430px) {
        height: fit-content;
    }
}

ul::-webkit-scrollbar {
    display: none;
}

li{
    list-style-type: none;
    flex: 0 0 100%;
    scroll-snap-align: center;

}

.singleFeed-box{
    @include dFlex($fd: row);
    width: 75%;
    height: 470px;
    overflow: hidden;
    transition: transform 0.5s ease;

    @media screen and (max-width: 1325px) {
        height: 600px;
    }

    @media screen and (max-width: 525px) {
        height: 700px;
    } 

    @media screen and (max-width: 400px) {
        height: 788px;
    }
}

.slider{
    @include dFlex($fd: row);
    width: 100%;
    height: 470px;
    transition: transform 0.5s ease-in-out;
}

h3{
    font-family: 'Fira Code';
    font-size: 32px;
    font-weight: 700;
    color: $brigth_green;
    margin: 0px 0px 48px 0px;
    text-align: center;

    @media screen and (max-width: 775px) {
        margin: 48px 0px 48px 0px;
        width: 55%;
    }

    @media screen and (max-width: 615px) {
        width: 428px;
    }

    @media screen and (max-width: 450px) {
        margin: 48px 0px 0px 0px;
        width: 274px;
    }
}

.quote{
    @include dFlex();
    background: none;
    background-color: $soft_green;
    width: 488px;
    border: solid 1px $brigth_green;
    border-radius: 30px;
    padding: 48px;

    p{
        background: none;
        color: white;
        font-size: 18px;
        margin: 0px 0px 48px 0px;
    }

    .quote-footer{
        @include dFlex($fd: row);
        width: 100%;
        background: none;

        .score{
            width: 100%;
            border: solid 1px white;
            margin: 0px 12px 0px 12px;
        }

        h5{
            background: none;
            color: white;
            font-size: 18px;
        }
    }
}

.btn-area{
    @include dFlex($fd: row);
    margin: 48px 0px 48px 0px;

    .dots{
        @include dFlex($fd: row);
        height: 32px;

        .feed-dot{
            width: 8px;
            height: 8px;
            margin: 0px 10px 0px 10px;
        }
    }

    @media screen and (max-width: 430px) {
        margin: 0px 0px 48px 0px;
    }
}

.arrow-right{
    @include dFlex();
    width: 48px;
    height: 48px;
    background-image: url("./../../../assets/img/PNG/arrows.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.3s ease-in-out;

    &:hover{
        cursor: pointer;
        background-image: url("./../../../assets/img/PNG/icons-green/arrow_forward.png");
    }

    @media screen and (pointer: coarse) {
        background-image: url("./../../../assets/img/PNG/arrows.png") !important;
    }
}

.arrow-left{
    @include dFlex();
    width: 48px;
    height: 48px;
    background-image: url("./../../../assets/img/PNG/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.3s ease-in-out;

    &:hover{
        cursor: pointer;
        background-image: url("./../../../assets/img/PNG/icons-green/arrow_backwards.png");
    }

    @media screen and (pointer: coarse) {
        background-image: url("./../../../assets/img/PNG/arrow-left.png") !important;
    }
}

.shadow-left{
    height: 388px;
    width: 48px;
    position: relative;
    box-shadow: 34px -1px 21px 1px $dark_green;
    -webkit-box-shadow: 25px -1px 85px 100px $dark_green;
    -moz-box-shadow: 34px -1px 21px 1px $dark_green;

    @media screen and (max-width: 1325px) {
        box-shadow: 34px -1px 21px 1px $dark_green;
        -webkit-box-shadow: 25px -1px 25px 100px $dark_green;
        -moz-box-shadow: 34px -1px 21px 1px $dark_green;
    }

    @media screen and (max-width: 630px) {
        display: none;
    }
}

.shadow-right{
    height: 388px;
    width: 48px;
    position: relative;
    box-shadow: 34px -1px 21px 1px $dark_green;
    -webkit-box-shadow: -25px -1px 85px 100px $dark_green;
    -moz-box-shadow: 34px -1px 21px 1px $dark_green;

    @media screen and (max-width: 1325px) {
        box-shadow: 34px -1px 21px 1px $dark_green;
        -webkit-box-shadow: 25px -1px 25px 100px $dark_green;
        -moz-box-shadow: 34px -1px 21px 1px $dark_green;
    }

    @media screen and (max-width: 630px) {
        display: none;
    } 

}

@media screen and (max-width: 615px) {

    .quote{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {

    .quote{
        width: 70%;
    }
}


