<div class="feedback-content">
    <h3>{{ translate('FEEDBACK-HEADLINE') }}</h3>
    <div class="feedback-area">
        <div class="shadow-left"></div>
            <ul #slider id="slider">
                <li class="feedback" *ngFor="let feedback of feedbacks; let i = index">
                    <div class="innder-feed">
                        <img class="feedback-icon" src="./assets/img/PNG/quotes.png" alt="feedback_icon">
                        <div class="feedTxt-area">
                            <P class="feedTxt">{{ translate(feedback['feedBackKey'])}}</P>
                        </div>
                        <div class="name-area">
                            <div class="name-line"></div>
                            <p class="name">{{ feedback.name }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        <div class="shadow-right"></div>
    </div>
    <div class="btn-area">
        <div class="arrow-left" id="arrow-left" alt="arrow" (click)="scrollFeedback('left')"></div>
        <div class="dots">
            <ng-container *ngFor="let feedback of feedbacks; index as i">
                <img
                    class="feed-dot" 
                    [src]="i === activeDotIdx ? './../../../assets/img/PNG/icons-green/cuteDot.png' : './../../../assets/img/PNG/whiteDot.png'" 
                    alt="dot">
            </ng-container>
        </div>
        <div class="arrow-right" id="arrow-right" alt="arrow-right" (click)="scrollFeedback('right')"></div>
    </div>
</div>
