<div class="above-content">
    <nav>
        <div class="link-area">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <div class="links">
                <a class="nav-link" href="#">About me</a>
                <a class="nav-link" href="#">Skills</a>
                <a class="nav-link" href="#">Projects</a>
            </div>
        </div>
        <div class="logo-area">
            <img class="logo-nav" src="./../../assets/img/PNG/banana-logo.png" alt="placeholder logo">
        </div>
    </nav>
    <div class="center-section">
        <h3>Fontend Developer</h3>
        <h1>Nicolaus Feldtmann</h1>
        <div class="btn-area">
            <div class="center-btn">Check my work</div>
            <div class="center-btn">Contact me</div>
        </div>
    </div>
</div>
