<div class="above-content">
        <nav>
            <div class="link-area">
                <div class="switch" (click)="translate()" [class.switched]="isSwitched">
                    <div class="toggle-switch"></div>
                </div>
                <div class="links">
                    <div class="link">
                        <a class="nav-link" href="#aboutMe">About me</a>
                        <img class="cuteDot" src="./../../../assets/img/PNG/cuteDot.png" alt="cutDot">
                    </div>
                    <div class="link">
                        <a class="nav-link" href="#skill-set">Skills</a>
                        <img class="cuteDot" src="./../../../assets/img/PNG/cuteDot.png" alt="cuteDot">
                    </div>
                    <div class="link">
                        <a class="nav-link" href="#projects">Projects</a>
                        <img class="cuteDot" src="./../../../assets/img/PNG/cuteDot.png" alt="cuteDot">
                    </div>
                </div>
            </div>
            <div class="logo-area">
                <img class="logo-nav" src="./../../../assets/img/PNG/logos/newLogo.png" alt="placeholder logo">
            </div>
        </nav>
        <div class="center-section">
            <h3>Fontend Developer</h3>
            <h1>Nicolaus Feldtmann</h1>
            <div class="btn-area">
                <a class="center-btn" href="#projects">
                    <p class="btn-para">Check my work</p>
                </a>
                <a class="center-btn" href="#contact">
                    <p class="btn-para">Contact me</p>
                </a>
            </div>
        </div>
        <div class="apendix">
            <div class="left-side">
                <div class="arrow-box">
                    <img class="jumping-arrow" src="./../../../assets/img/PNG/arrows.png" alt="jumping-arrow">
                </div>
                <div class="vert-line"></div>
            </div>

            <div class="center-banner">
                <div class="banner-content">
                    <div class="banner-para"><div class="dot"></div>Available for remote work</div>                    
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                    <div class="banner-para"><div class="dot"></div>Based in Hamburg</div>                   
                    <div class="banner-para"><div class="dot"></div>Available for remote work</div>                   
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                    <div class="banner-para"><div class="dot"></div>Based in Hamburg</div>                   
                    <div class="banner-para"><div class="dot"></div>Available for remote work</div>
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>
                    <div class="banner-para"><div class="dot"></div>Based in Hamburg</div>
                    <div class="banner-para"><div class="dot"></div>Available for remote work</div>
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>
                    <div class="banner-para"><div class="dot"></div>Based in Hamburg</div>
                    <div class="banner-para"><div class="dot"></div>Available for remote work</div>
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>
                    <div class="banner-para"><div class="dot"></div>Based in Hamburg</div>
                </div>
            </div>

            <div class="right-side">
                <a class="mail" href="#">captain&#64;cool.com</a>
                <div class="link-icons">
                    <a class="side-link" href="https://github.com/NicolausFeldtmann">
                        <div class="icon-git" alt="git"></div>
                        <img class="cuteDot" src="./../../../assets/img/PNG/cuteDot.png" alt="cuteDot">
                    </a>
                    <div class="side-link">
                        <div class="icon-linked" alt="linkedIn"></div>
                        <img class="cuteDot" src="./../../../assets/img/PNG/cuteDot.png" alt="cuteDot">
                    </div>
                </div>
                <div class="vert-line"></div>
            </div>
        </div>
</div>
