@import './../../../styles.scss';

.cuteDot{
    visibility: hidden;
    background: none;
    width: 8px;
    height: 8px
}

.above-content{
    @include dFlex();
    height: 100dvh;
    width: 100%;
    max-width: 1920px;
    background: none;

}

.mobile-menu-background{
    @include dFlex($dp: none);
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 2;

    .mobile-menu{
        @include dFlex();
        background: none;
        background-image: url(/assets/img/SVG/background.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:50% 50%;
        width: 238px;
        height: 252px;
        border: solid 1px $brigth_green;
        border-radius: 30px;
        position: absolute;
        right: 48px;
        top: 72px;
    }
}

.mobile-menu-content{
    @include dFlex($ai: normal);
    background: none;
    height: 172px;
    width: 84px;

    .mobile-links{
        @include dFlex($jc: space-between, $ai: normal);
        background: none;
        width: 88px;
        height: 120px;
        margin: 0px 0px 24px 0px;

        .mobile-link{
            background: none;
            text-decoration: none;
            color: white;
            font-family: 'Fira Code';
            font-size: 18px;
        }
    }
}

.show{
    display: flex;
}

nav{
    @include dFlex($fd: row);
    width: 85%;
    max-width: 1750px;
    height: 98px;
    position: absolute;
    top: 0;
    background: none;
    margin: 24px 0px 0px 0px;

    .link-area{
        @include dFlex($fd: row, $jc: normal);
        width: 100%;
        background: none;

    }

    .logo-area{
        background: none;

        .logo-nav{
            background: none;
            width: 132px;
            margin: 56px 0px 0px 0px;
            border-radius: 95px;
            border: solid 5px $brigth_green;
            padding: 12px 12px 12px 12px;
            background-color: black;
        }
    }
}

.links{
    @include dFlex($fd: row);
    background: none;
}

.link{
    @include dFlex();
    background: none;

    .nav-link{
        font-family: 'Fira Code';
        font-weight: 400;
        background: none;
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin: 0px 12px 0px 12px;
        transition: 0.2s;
    }

    &:hover{
        cursor: pointer;

        .cuteDot{
            visibility: visible;
        }
    }
}

.mobile-nav{
    @include dFlex($fd: row, $dp: none, $jc: space-between);
    background: none;
    position: absolute;
    top: 12px;
    width: 90%;

    .mobile-logo-area{
        background: none;

        .mobile-logo{
            background: none;
            width: 80px;
        }
    }

    .mobile-btn{
        background: none;

        .mobile-btn-img{
            background: none;
            width: 32px;
            height: 24px;
        }
    }
}

.switch {
    background: none;
    position: relative;
    display: inline-block;
    height: 34px;
    margin: 0px 28px 0px 0px;
    background-image: url(/assets/img/PNG/switch/toggleEnglish.png);
    background-repeat: no-repeat;
    width: 88px;
    height: 34px;
    transition: background-image 0.3s ease-in-out;

    &:hover{
        cursor: pointer;
        background: none;
        background-image: url(/assets/img/PNG/switch/toggleEnglishHover.png#);
        background-repeat: no-repeat;
        width: 88px;
        height: 34px;
    }

    &.switched{
        background-image: url(/assets/img/PNG/switch/toggleGerman.png);

        &:hover{
            background-image: url(/assets/img/PNG/switch/toggleGermanHover.png);
        }
    }
}

.center-section{
    @include dFlex();
    background: none;
    
    h1{
        background: none;
        color: white;
        font-size: 128px;
        font-weight: 700;
    }

    h3{
        font-family: 'Fira Code';
        background: none;
        color: white;
        font-size: 40px;
        font-weight: 400;
    }

    .btn-area{
        @include dFlex($fd: row);
        background: none;
    }
}

.center-btn{
    @include dFlex();
    height: 48px;
    width: 188px;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: solid 1px white;
    margin: 0px 24px 0px 24px;
    border-radius: 34px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.5s;

    .btn-para{
        background: none;
        text-decoration: none;
    }

    &:hover{
        cursor: pointer;
        color: $brigth_green;
        border: solid 1px $brigth_green;
        
        .btn-para{
            background: none;
            animation: slide-left 2s linear infinite;
        }
    }
}

.para-banner{
    @include dFlex( $fd: unset);
    width: 200%;
    height: 100%;
    background: none;

    &:hover{
        width: 148%;
        justify-content: space-around;
    }
}

@keyframes slide-left {
    0% { transform: translate(150%); };
    100% { transform: translate(-150%); }
}






