@import './../../../styles.scss';

.above-content{
    @include dFlex();
    height: 100vh;
    width: 100%;
    background-image: url('./../../../assets/img/SVG/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
}

nav{
    @include dFlex($fd: row);
    width: 85%;
    max-width: 1440px;
    height: 98px;
    position: absolute;
    top: 0;
    background: none;

    .link-area{
        @include dFlex($fd: row, $jc: normal);
        width: 100%;
        background: none;

        .links{
            @include dFlex($fd: row);
            background: none;

            .nav-link{
                font-family: 'Fira Code';
                font-weight: 400;
                background: none;
                text-decoration: none;
                color: white;
                font-size: 20px;
                margin: 0px 12px 0px 12px;
            }
        }
    }

    .logo-area{
        background: none;

        .logo-nav{
            background: none;
            width: 132px;
            height: 48px;
        }
    }
}



.switch {
    background: none;
    position: relative;
    display: inline-block;
    height: 34px;
    margin: 0px 28px 0px 0px;
    background-image: url(./../../../assets/img/PNG/toggleEmglish.png);
    background-repeat: no-repeat;
    width: 88px;
    height: 34px;

    &:hover{
        cursor: pointer;
        background: none;
        background-image: url(./../../../assets/img/PNG/toggleEnglishHover.png);
        background-repeat: no-repeat;
        width: 88px;
        height: 34px;
    }
}

.center-section{
    @include dFlex();
    background: none;
    
    h1{
        background: none;
        color: white;
        font-size: 128px;
        font-weight: 700;
    }

    h3{
        font-family: 'Fira Code';
        background: none;
        color: white;
        font-size: 40px;
        font-weight: 400;
    }

    .btn-area{
        @include dFlex($fd: row);
        background: none;

        .center-btn{
            @include dFlex();
            height: 48px;
            width: 172px;
            background: none;
            color: white;
            font-size: 18px;
            font-weight: 400;
            border: solid 1px white;
            margin: 0px 24px 0px 24px;
            border-radius: 34px;
        }
    }
}

.apendix{
    @include dFlex($fd: row, $jc: space-between);
    background: none;
    width: 100%;

    .center-banner{
        @include dFlex($fd: row);
        width: 100%;
        height: 62px;
        color: $brigth_green;
        font-size: 32px;
        font-weight: 400;
        background: none;
        background: rgba(192, 191, 191, 0.5);
        rotate: -5deg;

        position: relative;
        top: 312px
    }
}

.left-side{
    @include dFlex();
    position: absolute;
    left: 96px;
    bottom: 0;
    background: none;
    height: 312px;
    width: 32px;

    .arrow-box{
        @include dFlex();
        background: none;
        border: 1px solid $brigth_green;
        border-radius: 30px;
        width: 30px;
        height: 48px;
        margin: 0px 0px 24px 0px;

        .jumping-arrow{
            background: none;
            rotate: 90deg;
        }
    }

    .vert-line{
        @include dFlex();
        height: 100%;
        border: 1px solid $brigth_green;
    }
}

.right-side{
    @include dFlex();
    position: absolute;
    right: 96px;
    bottom: 0;
    background: none;
    height: 480px;
    width: 32px;

    .mail{
        background: none;
        rotate: 270deg;
        text-decoration: none;
        color: white;
        margin: 0px 0px 70px 0px;
        font-size: 18px;
        font-weight: 400;
    }

    .link-icons{
        @include dFlex();
        background: none;
        margin: 0px 0px 24px 0px;

        .icon{
            width: 32px;
            height: 32px;
            background: none;
            margin: 6px 0px 6px 0px;
        }
    }

    .vert-line{
        height: 100%;
        border: solid 1px white;
        width: 0px;
    }
}
