<div class="above-content">
    <div class="mobile-menu-background" [class.show]="isShow" (click)="showMenu()">
        <div class="mobile-menu">
            <div class="mobile-menu-content">
                <div class="mobile-links">
                    <a class="mobile-link" href="#aboutMe">{{ translate('ABOUT-ME') }}</a>
                    <a class="mobile-link" href="#skill-set">{{ translate('SKILLS') }}</a>
                    <a class="mobile-link" href="#projects">{{ translate('PROJECTS') }}</a>
                </div>
                <div class="switch" [class.switched]="isSwitched" (click)="toggleLanguage()">
                    <div class="toggle-switch"></div>
                </div>
            </div>
        </div>
    </div>
        <nav>
            <div class="link-area">
                <div class="switch" [class.switched]="isSwitched" (click)="toggleLanguage()">
                    <div class="toggle-switch"></div>
                </div>
                <div class="links">
                    <div class="link">
                        <a class="nav-link" href="#aboutMe">{{ translate('ABOUT-ME') }}</a>
                        <img class="cuteDot" src="./../../../assets/img/PNG/icons-green/cuteDot.png" alt="cutDot">
                    </div>
                    <div class="link">
                        <a class="nav-link" href="#skill-set">{{ translate('SKILLS') }}</a>
                        <img class="cuteDot" src="./../../../assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                    </div>
                    <div class="link">
                        <a class="nav-link" href="#projects">{{ translate('PROJECTS') }}</a>
                        <img class="cuteDot" src="./../../../assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                    </div>
                </div>
            </div>
            <div class="logo-area">
                <img class="logo-nav" src="./../../../assets/img/PNG/logos/newLogo.png" alt="placeholder logo">
            </div>
        </nav>
        <div class="mobile-nav">
            <div class="mobile-logo-area">
                <img class="mobile-logo" src="./../../../assets/img/PNG/logos/solo-logo.png" alt="">
            </div>
            <div class="mobile-btn">
                <img class="mobile-btn-img" (click)="showMenu()" src="./../../../assets/img/JPG/menu.jpg" alt="">
            </div>
        </div>
        <div class="center-section">
            <h3>Frontend Developer</h3>
            <h1>Nicolaus Feldtmann</h1>
            <div class="btn-area">
                <a class="center-btn" href="#projects">
                    <p class="btn-para">{{ translate('CHECK') }}</p>
                </a>
                <a class="center-btn" href="#contact">
                    <p class="btn-para">{{ translate('CONTACT-ME') }}</p>
                </a>
            </div>
        </div>
        <div class="apendix">
            <div class="left-side">
                <div class="arrow-box">
                    <img class="jumping-arrow" src="./../../../assets/img/PNG/arrows.png" alt="jumping-arrow">
                </div>
                <div class="vert-line"></div>
            </div>

            <div class="center-banner">
                <div class="banner-content">
                    <div class="banner-para"><div class="dot"></div>{{ translate('available') }}</div>                    
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                    <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                    <div class="banner-para"><div class="dot"></div>{{ translate('available') }}</div>                   
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                    <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                    <div class="banner-para"><div class="dot"></div>{{ translate('available') }}</div>
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>
                    <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>
                    <div class="banner-para"><div class="dot"></div>{{ translate('available') }}</div>
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>
                    <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>
                    <div class="banner-para"><div class="dot"></div>{{ translate('available') }}</div>
                    <div class="banner-para"><div class="dot"></div>Frontend Developer</div>
                    <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>
                </div>
            </div>

            <div class="right-side">
                <a class="mail" href="#">nicolaus.feldtmann&#64;gmx.de</a>
                <div class="link-icons">
                    <a class="side-link" href="#">
                        <div class="icon-mail" alt="mail"></div>
                        <img class="cuteDot" src="./../../../assets/img/PNG/icons-green/cuteDot.png" alt="">
                    </a>
                    <a class="side-link" href="https://github.com/NicolausFeldtmann">
                        <div class="icon-git" alt="git"></div>
                        <img class="cuteDot" src="./../../../assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                    </a>
                    <a class="side-link" href="https://linkedin.com/in/nicolaus-feldtmann-861371376">
                        <div class="icon-linked" alt="linkedIn"></div>
                        <img class="cuteDot" src="./../../../assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                    </a>
                </div>
                <div class="vert-line"></div>
            </div>
        </div>
</div>
