<div class="above-content">
    <div class="center-section">
        <h3>Frontend Developer</h3>
        <h1>Nicolaus Feldtmann</h1>
        <div class="btn-area">
            <a class="center-btn" href="#projects">
                <div class="para-banner">
                    <p class="btn-para">{{ translate('CHECK') }}</p>
                </div>
            </a>
            <a class="center-btn" href="#contact">
                <div class="para-banner">
                    <p class="btn-para">{{ translate('CONTACT-ME') }}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="apendix">
        <div class="side-element-area">
            <div class="left-side">
                <div class="arrow-box">
                    <img class="jumping-arrow" src="./assets/img/PNG/arrows.png" alt="jumping-arrow">
                </div>
                <div class="vert-line"></div>
            </div>
            <div class="right-side">
                <a class="mail" href="#contact">nicolaus.feldtmann&#64;gmx.de</a>
                <div class="link-icons">
                    <a class="side-link" href="#contact">
                        <div class="icon-mail" alt="mail"></div>
                        <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="">
                    </a>
                    <a class="side-link" href="https://github.com/NicolausFeldtmann" target="_blank">
                        <div class="icon-git" alt="git"></div>
                        <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                    </a>
                    <a class="side-link" href="https://linkedin.com/in/nicolaus-feldtmann-861371376" target="_blank">
                        <div class="icon-linked" alt="linkedIn"></div>
                        <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                    </a>
                </div>
                <div class="vert-line"></div>
            </div> 
        </div>

        <div class="center-banner">
            <div class="banner-content">                    
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                     
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                    
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                    
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                    
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                    
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                     
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>                    
                <div class="banner-para"><div class="dot"></div>Frontend Developer</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('BASED') }}</div>                   
                <div class="banner-para"><div class="dot"></div>{{ translate('KNOW') }}</div>  
            </div>
        </div>
    </div>
</div>
