$dark_green: rgba(28, 28, 28, 1);
$soft_green: rgb(26, 48, 44);
$light_green: rgb(0, 129, 113);
$brigth_green: rgb(0, 219, 186);

@mixin dFlex($dp: flex, $fd: column, $jc: center, $ai: center) {
    display: $dp;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

*{
    max-width: 1920px;
    font-family: 'Karla';
    margin: 0;
    background-color: $dark_green;
}

.no-scroll{
    overflow: hidden !important;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: $brigth_green;
    border-radius: 10px;
    height: 64px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: $soft_green;
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/fonts/Karla/Karla-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}