@import './../../../styles.scss';

.skill-content{
    @include dFlex();
    height: 100vh;
    width: 100%;
    background-image: url('./../../../assets/img/SVG/backgroundSkills.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.center-section{
    @include dFlex($fd: row);
    background: none;
}

.info-box{
    background: none;

    h4{
        color: $brigth_green;
        font-size: 24px;
        font-weight: 400;
        margin: 0px 0px 10px 0px;
        background: none;
    }

    h2{
        background: none;
        font-family: 'Fira Code';
        font-weight: 700;
        font-size: 64px;
        color: $brigth_green;
        margin: 0px 0px 16px 40px;
    }

    .box{
        @include dFlex($ai: normal);
        background: none;
        width: 520px;
        height: 503px;
        border: solid 1px  $brigth_green;
        border-radius: 30px;
        background-color: $soft_green;
    }

    p{
        background: none;
        color: white;
        font-size: 18px;
        font-weight: 400;
        margin: 16px 40px 16px 40px;
    }

    .sub-line{
        @include dFlex($fd: row, $jc: normal);
        background: none;
        color: white;
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 700;
        margin: 16px 0px 16px 40px;

        .color-sub{
            background: none;
            color: $brigth_green;
            font-size: 24px;
            margin: 0px 0px 0px 8px;
        }
    }

    .btn-area{
        @include dFlex($ai: normal);
        background: none;

        .skill-btn{
            @include dFlex();
            height: 48px;
            width: 172px;
            background: none;
            color: white;
            font-size: 18px;
            font-weight: 400;
            border: solid 1px white;
            margin: 0px 24px 0px 24px;
            border-radius: 34px;
            overflow: hidden;
            transition: 0.5s ease-in-out;

            .btn-para{
                background: none;
            }

            &:hover{
                cursor: pointer;
                color: $brigth_green;
                border: solid 1px $brigth_green;
                

                .btn-para{
                    background: none;
                    animation: slide-left 2s linear infinite;
                    color: $brigth_green;
                }
            }
        }
    }
}

.skill-box{
    @include dFlex();
    width: auto;
    height: 428px;
    margin: 0px 0px 0px 72px;
}

.skill-row{
    @include dFlex($fd: row, $jc: normal);
    width: 100%;

    .skill-entry{
        @include dFlex();
        width: 104px;
        height: 116px;
        margin: 0px 36px 0px 36px;

        .skill-icon-box{
            @include dFlex();
            width: 112px;
            height: 126px;
            
            .skill-icon{
                width: 60px;
                height: 60px;
                transition: background-image 0.3s ease-in-out;

                &:hover{
                    width: 64px;
                    height: 64px;
                    transition: background-image 0.3s ease-in-out;
                }
            }
        }

        .skill-name{
            color: white;
            margin: 8px 0px 8px 0px;
        }
    }
}

@media screen and (max-width: 1300px) {

    .center-section{
        .skill-box{
            margin: 0px 0px 0px 12px;
            align-items: baseline;
        }
    }

    .skill-row{

        .skill-entry{
            margin: 0px 12px 0px 12px;
        }
    }
}

@media screen and (max-width: 1100px) {

    .info-box{
        .box{
            width: 360px;
            height: 556px;

            h2{
                font-size: 56px;
                margin: 0px 0px 0px 24px;
            }

            p{
                margin: 6px 40px 6px 40px;
            }

            .sub-line{
                margin: 6px 40px 6px 40px;
            }
        }
    }

    .btn-area{
        .skill-btn{
            margin: 24px 24px 24px 24px;
        }
    }

    .skill-row{

        .skill-entry{
            width: 72px;
        }
    }
}

@media screen and (max-width: 870px) {

    .skill-content{
        height: auto;
    }

    .center-section{
        flex-direction: column;

        .skill-box{
            margin: 24px 0px 0px 0px;
        }
    }

    .info-box{
        .box{
            width: 412px;

            .btn-area{

                .skill-btn{
                    margin: 24px 40px 24px 40px;
                }
            }
        }
    }

    .skill-row{
        .skill-entry{
            margin: 20px 20px 20px 20px;
        }
    }
}

@media screen and (max-width: 450px) {

    .info-box{
        .box{
            width: 300px;
            height: auto;

            .btn-area{
                .skill-btn{
                    margin: 16px 40px 16px 40px;
                }                                      
            }

            h2{
                font-size: 48px;
                margin: 12px 12px 12px 12px;
            }

            .sub-line{
                flex-direction: column;
                align-items: normal;
                font-size: 20px;
                margin: 6px 40px 6px 40px;

                .color-sub{
                    margin: 0;
                }
            }
        }
    }

    .skill-row{
        .skill-entry{
            margin: 20px 12px 20px 12px;
        }
    }
}

@media screen and (max-width: 375px) {

    .skill-row{
        .skill-entry{
            width: 65px;
            margin:  20px 6px 20px 6px;

            .skill-icon-box{
                .skill-icon{
                    height: 48px;
                    width: 48px;

                    &:hover{
                        width: 52px;
                        height: 52px;
                    }
                }
            }
        }
    }
}