<div class="skill-content">
    <div class="center-section">
        <div class="info-box">
            <h4>Technologies</h4>
            <div class="box">
                <h2>Skill Set</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                     Autem at blanditiis id ad excepturi iusto tenetur inventore sed et, 
                     repudiandae similique, facere, quasi molestiae tempora expedita aspernatur 
                     molestias laboriosam nobis?
                </p>

                <div class="sub-line">You need<div class="color-sub"> another skill?</div></div>
                <p>Feel free to contect me. I look forward to expanding on my previous knowledge.</p>
                <div class="btn-area">
                    <div class="skill-btn">
                        <p class="btn-para">Let's Talk</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-row">
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/html.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">HTML</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/css.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">CSS</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/js.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">JavaScript</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/md.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">Msterial Design</p>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/ts.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">TypeScript</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/angular.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">Angular</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/fb.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">Firebase</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/git.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">Git</p>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/api.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">REST-API</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/scrum.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">Scrum</p>
                </div>
                <div class="skill-entry">
                    <div class="skill-icon-box">
                        <img class="skill-icon" src="./../../../assets/img/PNG/mind.png" alt="skill-icon">
                    </div>
                    <p class="skill-name">Mindset</p>
                </div>
            </div>
        </div>
    </div>
</div>
