@import './../../../styles.scss';

.cuteDot{
    visibility: hidden;
    background: none;
    width: 8px;
    height: 8px
}

.footer-logos{
    @include dFlex($fd: row, $jc: space-between);
    width: 100%;
    max-width: 1920px;
    background: none;
}

.footer-content{
    @include dFlex($fd: row, $jc: space-between);
    margin: 72px 72px 72px 72px;
    width: 100%;
    max-width: 1920px;
    scroll-behavior: smooth !important;
}

.logo-area{
    @include dFlex($ai: center);

    .logo{
        background: none;
        width: 132px;
        margin: 56px 12px 0px 0px;
        border-radius: 72px;
        border: solid 5px $brigth_green;
    }

    p{
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
}

.footer-center{
    @include dFlex($fd: row);
    color: $brigth_green;
    font-family: 'Fira Code';
    font-size: 18px;
    font-weight: 400;
}

.footer-mobile-center{
    @include dFlex($fd: row, $dp: none);
    color: $brigth_green;
    font-family: 'Fira Code';
    font-size: 18px;
    font-weight: 400;
}

.footer-links{
    @include dFlex($ai: normal);
    transition: 0.2s;
}

.link{
    @include dFlex($fd: row, $jc: normal);
    background: none;

    &:hover{
        cursor: pointer;

        .cuteDot{
            visibility: visible;
        }
    }
    
    .git-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;

        &:hover{
            color: $brigth_green;

        }
    }

    .linked-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;

        &:hover{
            color: $brigth_green;
        }
    }

    .email-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;

        &:hover{
            color: $brigth_green;
        }
    }

    .legal-link{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 400;

        &:hover{
            color: $brigth_green;
        }
    }
}



