<div class="footer-content">

    <div class="footer-logos">
        <a class="logo-area" routerLink="">
            <img class="logo" src="./assets/img/PNG/logos/newLogo.png" alt="me-logo">
            <p>Web Developer</p>
            <p>Hamburg Germany</p>
        </a>
        <div class="footer-center">&#xA9; Nicolaus Feldtann 2025</div>
        <div class="footer-links">
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cut>Dot">
                <a class="git-link" href="https://github.com/NicolausFeldtmann" target="_blank">Github</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <a class="linked-link" href="https://linkedin.com/in/nicolaus-feldtmann-861371376" target="_blank">LinkedIn</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <a class="email-link" href="#contact">Email</a>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <div class="legal-link" routerLink="legal">{{ translate('LEGAL') }}</div>
            </div>
            <div class="link">
                <img class="cuteDot" src="./assets/img/PNG/icons-green/cuteDot.png" alt="cuteDot">
                <div class="legal-link" routerLink="impressum">Impressum</div>
            </div>
        </div>
    </div>
    <div class="footer-mobile-center">&#xA9; Nicolaus Feldtann 2025</div> 
</div>
