@import './../../../styles.scss';

@media screen and (max-width: 645px) {

    .footer-content{
        flex-direction: column !important;
    }

    .footer-center{
        display: none;
    }

    .footer-mobile-center{
        display: flex;
        margin: 48px 0px 48px 0px;
    }
}

@media screen and (max-width: 515px) {

    .impressum-content{

        .txt-area{
            padding: 0px 12px 0px 12px;
        }
    }

    .legal-content{

        .txt-area-legal{
            margin:  0px 12px 0px 12px;
        }
    }

    .impressum-header{

        h1{
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 400px) {

    .impressum-content{

        .txt-area{
            padding: 12px 12px 12px 12px;
            width: 90%;
        }
    }

    .legal-content{

        .txt-area-legal{
            width: 80%;
        }
    }
}