@import './../../../styles.scss';

@media screen and (max-width: 645px) {

    .footer-content{
        flex-direction: column !important;
    }

    .footer-center{
        display: none;
    }

    .footer-mobile-center{
        display: flex;
        margin: 48px 0px 48px 0px;
    }

    .link{

        .cuteDot{
            display: none !important;
        }

    }
}

@media screen and (max-width: 450px) {

    .logo-area{

        .logo{
            width: 88px;
            margin: 0;
        }
    }
}
